{% extends 'empresaInspector/base_empresaInspector.html' %}
{% block title %}{{ titulo }}{% endblock title %}
{% block content %}
	<h2 class="page-header">{{ titulo }} </h2>
	<div class="span10">
		<form id="editarInspector" class="form-horizontal" action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<div class="form-actions">
				<button class="btn btn-primary" type="submit" >{{nombre_btn}}</button>
			</div>	
			
		</form>
		<a href="{% url 'empresaInspector.empresaInspector-list' %}"><i class="fa fa-arrow-circle-left fa-2x"></i> Volver a listado de inspectores</a>
	</div>
	<!-- {{ user.usuario.id_empresa.nombre}} -->
{% endblock content %}